<thermtable data-color="jarviswidget-color-greenDark">
<div class="row">
  <div class="col-md-12">
      <highchart data-thermid="combined" data-therm="-1" ng-if="sensors"></highchart>
  </div>
</div>
</thermtable>

<!-- dummy divs -->
<div class="txt-color-red"></div>
<div class="txt-color-orange"></div>
<div class="txt-color-green"></div>
<div class="txt-color-purple"></div>
<div class="txt-color-pink"></div>
<div class="txt-color-blue"></div>

<script type="text/javascript">

  // DO NOT REMOVE : GLOBAL FUNCTIONS!
  pageSetUp();

</script>
