<histcharts>
    <div class="row" ng-repeat="i in range(sensors.length/2) track by $index">
    <div class="col-md-6">
        <highchart data-thermid="{{sensors[$index*2].column_name}}" data-therm="{{$index*2}}"></highchart>
    </div>
    <div class="col-md-6" ng-if="$index*2+1 < sensors.length">
        <highchart data-thermid="{{sensors[$index*2+1].column_name}}" data-therm="{{$index*2+1}}"></highchart>
    </div>
    </div>
</histcharts>

<script type="text/javascript">

  // DO NOT REMOVE : GLOBAL FUNCTIONS!
  pageSetUp();

</script>
