[Unit]
Description=Service for thermometry

[Service]
# Assume that a user called flask exists, and that the thermometry
# program is installed in a directory called therm_flask under the
# working directory
User=flask
Group=nginx
WorkingDirectory=/var/lib/flask

ProtectSystem=strict
LogsDirectory=uwsgi
LogsDirectoryMode=0750
RuntimeDirectory=uwsgi
RuntimeDirectoryMode=0750
PrivateTmp=true
ReadWritePaths=/var/lib/flask/.cache

ExecStart=/bin/bash -l -c "poetry install -C ./therm_flask --with=uwsgi && poetry run -C ./therm_flask uwsgi ./uwsgi.ini"
StartLimitBurst=3
Restart=on-failure
RestartSec=5
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGQUIT
Type=simple

[Install]
WantedBy=multi-user.target
